@charset "utf-8";

/* CSS Document */


/******************************

[Table of Contents]

1. Library
2. Offer



******************************/


/*********************************
1. Offering
*********************************/

.exhibit {
    height: 50px;
    width: 100%;
}

.species .type {
    font-size: 1.3em;
    font-weight: 600;
    color: rgb(0, 17, 255);
}

.exhibit .type {
    font-size: 1.0em;
    font-weight: 550;
    text-decoration: underline;
    color: #09f;
}

.exhibit .name {
    color: rgb(148, 148, 148);
    font-size: 0.9em;
}

.card-image .card-title {
    height: 10px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.521);
    line-height: 10px;
    color: white;
    font-weight: 700;
    font-size: 1.1em;
}

.card-content .card-title {
    height: 10px;
    width: 100%;
    line-height: 10px;
    color: rgb(165, 165, 165);
    font-weight: 700;
    font-size: 1.1em;
}

.library h3 {
    text-align: center;
    color: #09f;
    margin-bottom: 10px;
}

.type1 div {
    color: rgba(168, 168, 168, 0.596);
    margin-top: 20px;
}

.type2 {
    background-color: whitesmoke;
}

.type2 div {
    color: rgba(168, 168, 168, 0.527);
    margin-top: 20px;
}

.type2 h1 {
    color: rgb(66, 65, 65);
}


/*********************************
2. Offering
*********************************/

.offering {
    background: #211c32;
    padding-top: 104px;
    padding-bottom: 50px;
}

.offering .section_title>div {
    color: rgba(255, 255, 255, 0.08);
}

.offering .section_title h1 {
    color: #ffffff;
    margin-top: -30px;
}

.offering_row {
    margin-top: 102px;
}

.offer {
    margin-bottom: 60px;
}

.offer_title {
    margin-top: 48px;
}

.offer_title h3 {
    color: #ffffff;
    font-size: 20px;
}

.offer_text {
    margin-top: 25px;
}

.offer_text p {
    color: #bfc8d8;
}

.offer_button {
    margin-top: 31px;
}

.offer_button a {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    color: #ff9000;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

.offer_button a::after {
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #ff9000;
    content: '';
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.offer_button a:hover::after {
    width: 100%;
}